<!--<h1>Tareas Privadas</h1>

<ul class="list-group">
    <li class="list-group-item" *ngFor="let task of tasks"> 
     {{task._id}} - {{task.name}}: {{task.description}}
    </li>
</ul>-->
<h1 style="text-align: center" >Desarrollo de Software</h1>
<br>
<div>
    <img width="300px" src="../../../assets/img/img1.png" alt="" srcset="">
    <br>
    <br>
    <a href="../../../assets/07. Introducción a ASP.NET (Presentación) autor SABIA.pdf" class="btn btn-warning" download="07. Introducción a ASP.NET (Presentación) autor SABIA.pdf">descargar</a>
</div>

